* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'Fredoka', sans-serif;
}

body > div {
    width: 80%;
    margin: auto;
}

h1 {
    color: rgb(229, 49, 112);
    text-align: center;
    margin: 30px;
    font-weight: 1000;
}

p {
    text-align: center;
    margin-bottom: 15px;
}

img {
    width: 75px;
    float: left; 
    margin-right: 10px;
}

img::after{
    content: "";
    display: inline-block;
    clear: both;
}

.card {
    background-color: black;
    width: calc((100% / 3) - 23px);
    margin: 20px 10px;
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h4, h4 + span {
    color: white;
}

h4 + span {
    font-size: 13px;
}

h4{
    margin-top: 5px;
}

.blue {
    color: rgb(77, 204, 242);
    display: block;
    font-size: 13px;
    margin-top: 4px;
}
